*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.5px;
    
}

/* Reuseable Styles  */
.flexible_sec{
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    line-height:1.3em;
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
}
h3{
    color: #707070;
    font-size: 30px;
}

p{
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 10px;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    
}

.btn,.hero_btn{
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background:rgb(245, 129, 5);
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    letter-spacing: 0.3px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.btn:hover,.hero_btn:hover{
    letter-spacing: 1.5px;
}
/* header section  Styles*/
#header{
    padding:0 20px;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/donation10.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
#header .header_section{
    width: 55%;
}


/* Donate Amount section Styles */
#donate_amount{
    text-align: center;
    padding:40px 20px 60px;
    background-color: #fff; 
}
#donate_amount .little_description{
    color: #707070;
    text-transform: capitalize;
    font-weight: 300;

}
#donate_amount .donation_wrapper{
width: 70%;
margin: 0 auto;
flex-direction: column;
}
.top_section{
    margin-bottom: 10px;
}
.middle_section{
    justify-content: space-between;
   margin: 30px 0;         
}
.middle_section .amount_box{
    width: 100px;
    height: 100px;
    background: #FFE6E6;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.active_box{
    background: rgba(32, 250, 3, 0.384)!important;
    border:2px solid #f00;
    box-shadow: 8px 3px 24px #628253;
}
.active_box h3{
    color: #f00;
}
.bottom_section{
    margin-top: 10px;    
}
.bottom_section input{
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #DADADA;
  margin-top: 20px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bottom_section .btn{
    margin-top: 20px;
}