*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.5px;
    
}

/* Reuseable Styles  */
.flexible_sec{
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    line-height:1.3em;
    
    
}
h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
h3{
    color: #707070;
    font-size: 30px;
    text-transform: capitalize;
}

p{
    font-weight: 400;
    line-height: 1.8em;
    margin-bottom: 10px;
    font-size: 18px;
}
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
}
.little_description{
    text-transform: capitalize;
    font-weight: 300;

}
.container{
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
    }

.btn,.hero_btn{
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    background:rgb(245, 129, 5);
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    letter-spacing: 0.3px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.btn:hover,.hero_btn:hover{
    letter-spacing: 1.5px;
}
/* header section  Styles*/
#header{
    padding:0 20px;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/donation10.jpg) no-repeat;
    background-size: cover;

    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
}
#header .header_section{
    width: 55%;
}


/* Donate Amount section Styles */
#donate_amount{
    text-align: center;
    padding:40px 20px 60px;
    background-color: #fff; 
}
#donate_amount .little_description{
    color: #707070;
   

}

.top_section{
    margin-bottom: 10px;
}
.middle_section{
    justify-content: space-between;
   margin: 30px 0;         
}
.amount_box, .box {
	width: 120px;
	height: 110px;
	background: #FFE6E6;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.active_box{
    background: rgba(32, 250, 3, 0.384)!important;
    border:2px solid #f00;
    box-shadow: 8px 3px 22px #ff000052;
}
.active_box h3{
    color: #f00;
}
.bottom_section{
    margin-top: 10px;    
}
.bottom_section input{
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #DADADA;
  margin-top: 20px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bottom_section .btn{
    margin-top: 20px;
}

/* Donate plan section Styles */
#donate_plan{
   padding:  40px 20px 80px;
}
#donate_plan h2,
#donate_plan .little_description{
    text-align: center;
}
#donate_plan .container{
    width: 80%;
}

.bottom_section{
    justify-content: space-around;
}
.bottom_section .Plan{
    width: 280px;
    height: 300px;
    background: rgba(255, 89, 89, 0.1);
    padding: 25px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 40px;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}
.bottom_section .Plan:hover{
   height: 340px;
   margin-top: 0;
}
.Plan:nth-child(2){
    background: rgba(89, 255, 164, 0.2);
}
.Plan:nth-child(3){
    
    background: rgba(230, 116, 2, 0.2);
}
.Plan h3{
    color: #121212;
    font-size: 28px;    
}
.Plan p{
    color: #707070;
    font-weight: 500;     
}
.Plan img{
   display: block;
   width: 50px;
   height: auto;
   margin: 10px 0;
}
/*Testimonial Styles */
#testimonial_section{
padding: 40px 20px 80px;
background: linear-gradient(rgba(255, 0, 0, 0.537),rgba(201, 2, 2, 0.728)), url(img/donation12.png) no-repeat;
background-position: top center;
background-size: cover;
background-attachment: fixed;
z-index: -2;
}
#testimonial_section h2{
    text-align: center;
    margin: 20px 0 ;
    color: #fff;
    
}
#testimonial_section .little_description{
    text-align: center;
    margin: 20px 0 ;
    color: #fff;
}
#testimonial_section .container{
flex-direction: row;
flex-wrap: wrap;
row-gap: 60px;
column-gap: 20px;
margin-top: 40px;
margin-bottom: 40px;
}

.half_width{
    width: 46%;
    display: flex;
   column-gap: 20px;

}
.half_width img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.half_width h4{
    color: rgb(241, 15, 15);
    font-weight: 700;
    letter-spacing: 2.5px;
    font-size: 20px;
    margin-left: 5px;
}
.half_width p{
    font-size: 14px;
   margin-left: 10px;
}
.testimonial_details {
	background: #29fb09;
	padding: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	
	position: relative;

}
.testimonial_details::after {
	z-index: 0;
	content: "";
	width: 20px;
	height: 20px;
	background: #29fb09;
	display: block;
	position: absolute;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	top: 35%;
	left: -10px;
}
/* Get Updates section style*/
#get_update_sec{
    padding: 40px 20px 60px;
    flex-direction: column;
    align-items: center;

}
#get_update_sec .top_section{
    text-align: center;
    width: 75%;
}
#get_update_sec .bottom_section{
 width: 75%;
 justify-content: center;
 align-items: center;
 background: #fff4d6;
 height: 200px;
 border-radius: 25px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 -ms-border-radius: 25px;
 -o-border-radius: 25px;
 margin: 20px 0px 60px;
}
.bottom_section input[type="email"] {
	display: block;
	width: 350px;
	height: 52px;
	text-align: left;
	font-weight: 700;
	font-size: 20px;
	background: #ddd;
	padding: 0px 10px;
	border-bottom-left-radius: 11px;
	border-top-left-radius: 11px;
    
}

.bottom_section input[type="submit"] {
	width: 180px;
	height: 54px;
	text-align: center;	
    color: #fff;
	font-weight: 700;
	font-size: 20px;
	background: #e81818;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
    cursor: pointer;
}
/* Footer section start */
#footer{
    background: #0B0D17;
    padding:40px 20px
}
#footer h2{
   color: #FF5959;
   text-align: center;
   font-weight: bold;
   font-style: italic;   
}
#footer p{
   color: #fff; 
   text-align: center;
   text-transform: capitalize;
}